apiVersion: v1
kind: Service
metadata:
  name: sb-petclinic-service
  labels:
    app: sb-petclinic
spec:
  type: NodePort
  ports:
    - name: http
      port: 8081
      targetPort: 8080
  selector:
    app: sb-petclinic
---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  labels:
    app: sb-petclinic
  name: sb-petclinic
spec:
  replicas: 1
  template:
    metadata:
      labels:
        app: sb-petclinic
    spec:
      containers:
      - image: mycluster.icp:8500/default/spring-petclinic
        name: sb-petclinic
        ports:
        - containerPort: 8080
          protocol: TCP
