apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  annotations:
    kompose.cmd: kompose convert -f docker-compose.yml
    kompose.version: 1.6.0 (e4adfef)
  creationTimestamp: null
  labels:
    io.kompose.service: api-gateway
  name: api-gateway
spec:
  replicas: 1
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        io.kompose.service: api-gateway
    spec:
      containers:
      - command: ["/bin/sh", "-c"]
        args: ["./wait-for-it.sh discovery-server:8761 --timeout=60; java -Djava.security.egd=file:/dev/./urandom -jar /app.jar"]
        image: mycluster.icp:8500/default/spring-petclinic-api-gateway
        name: api-gateway
        ports:
        - containerPort: 8080
        resources: {}
      restartPolicy: Always
status: {}
